<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HolyShiCi.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9DDD690C196DFEFC4538BA726740C44CC214BCCB</string>
				<key>dateExpires</key>
				<string>2020/12/6</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DDD690C196DFEFC4538BA726740C44CC214BCCB</string>
						<key>dateExpires</key>
						<string>2020/12/6</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PNChart.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8W26VVWP4</string>
						<key>name</key>
						<string> Qingsen Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DDD690C196DFEFC4538BA726740C44CC214BCCB</string>
						<key>dateExpires</key>
						<string>2020/12/6</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8W26VVWP4</string>
						<key>name</key>
						<string> Qingsen Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DDD690C196DFEFC4538BA726740C44CC214BCCB</string>
						<key>dateExpires</key>
						<string>2020/12/6</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>UICountingLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8W26VVWP4</string>
						<key>name</key>
						<string> Qingsen Chen</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9DDD690C196DFEFC4538BA726740C44CC214BCCB</string>
						<key>dateExpires</key>
						<string>2020/12/6</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>YYText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J8W26VVWP4</string>
						<key>name</key>
						<string> Qingsen Chen</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J8W26VVWP4.cn.holystudio.ios.holyPoem</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.cn.holystudio.ios.holyPoem</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudKit</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>J8W26VVWP4</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>一起学®唐诗.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>07ad63c7-86c9-4e06-a3dc-62056939d688</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: cn.holystudio.ios.holyPoem</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J8W26VVWP4</string>
				<key>name</key>
				<string> Qingsen Chen</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
